<sidebar content="'noticias'"></sidebar>
<div id="right-panel" class="right-panel">
  <header-component></header-component>
  <div class="content pb-0">
    <div class="row">
      <div class="card-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title box-title">{{vm.noticiasService.tituloNoticias}}</h4>
            <div class="card-content">
              <div class="messenger-box">
                <ul>
                  <li ng-repeat="noticia in vm.noticiasService.noticias track by $index">
                    <div class="msg-container msg-received">
                      <div class="avatar">
                        <img src="{{noticia.imagen}}" alt="" />
                        <div class="send-time">{{noticia.fecha_hora_creacion | date:'medium'}}</div>
                      </div>
                      <div class="msg-box">
                        <div class="inner-box">
                          <div class="name">
                            {{noticia.titulo}} <strong> | {{noticia.clasificacion.nombre}}</strong>
                          </div>
                          <div class="meg">
                            {{noticia.contenido}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
